.bs-sidenav>li>a {
	padding: 3px 12px 3px 12px !important;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color:#32393d;
}

.thumbnail img{
	-webkit-filter: blur(5px) saturate(45%) contrast(90%) sepia(10%);
	opacity: 0.8;
	-moz-transition:all 1s ease-in-out;
	-webkit-transition:all 1s ease-in-out;
	-ms-transition:all 1s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}

li .thumbnail :hover {
    cursor: pointer;
    opacity: 1;
    -webkit-filter: blur(3px) saturate(80%) contrast(90%) sepia(10%);
}
